.row
    .col
        h3.d-inline-block#name-display Friendo
        h6.d-inline-block lvl.
            span#level-display(style='white-space: pre-wrap;') 000
        h4.d-inline-block.pl-5.pr-1#zodiac-display ?
