mixin nameInput(friendoName, ownerName)
    div
        input#friendo-name.form-control.w-50(type='text' placeholder=friendoName)
        input#owner-name.form-control.w-50(type='text' placeholder=ownerName)
