.elementRadio {
    opacity: 0;
    width: 0;
    height: 0;
}

.elementRadio:hover + .elementPickFrame {
    border: 4px solid gold;
}
.elementRadio:checked + .elementPickFrame {
    border: 4px solid gold;
}

.elementRadio + .elementPickFrame {
    cursor: pointer;
    border-width: 4px;
}

.elementEx {
    animation: bounce 1s 0s infinite alternate;
}
.elementRadio:hover + .elementPickFrame .elementEx {
    animation: bounce 0.25s 0s infinite alternate;
}
.elementRadio:checked + .elementPickFrame .elementEx {
    animation: bounce 0.25s 0s infinite alternate;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-6px); }
}

#friendo-name-input {
    font-size: 20px;
}

.stat-row:hover {
    border: 2px solid var(--info);
    border-radius: 10px;
    background: ghostwhite;
}

/* Displays that are invisible by default */
#egg-display, #char-creator, #main-display {
    display: none;
}

@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--primary);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: loader 2s linear infinite;
}

#leg-bar {
    visibility: hidden;
}

#arm-bar {
    visibility: hidden;
}

#hair-bar {
    visibility: hidden;
}

#dog-bar {
    visibility: hidden;
}

/* Stat level animation */
@keyframes lvlup {
    0% {
        background-color: gold;
        font-weight: bold;
    }
    100% { background-color: white; }
}
.lvlup {
    animation: lvlup 0.5s 0s infinite alternate;
}
.statlvl {
    border-radius: 20px;
}

/* Footer styles */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
    overflow: hidden;
}

#game-info-icon {
    font-size: 20px;
}

#game-info {
    visibility: hidden;
}
