// Styles for the character creator

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-6px); }
}

// styles for the friendo type selector images
.elementRadio {
  opacity: 0;
  width: 0;
  height: 0;

  &:hover + .elementPickFrame,
  &:checked + .elementPickFrame {
    border: 4px solid gold;

    .elementEx {
      animation: bounce 0.25s 0s infinite alternate;
    }
  }
  + .elementPickFrame {
    cursor: pointer;
    border-width: 4px;
  }
}

.elementEx {
  animation: bounce 1s 0s infinite alternate;
}

#name-input {
  font-size: 20px;
}
