// Styles for the stat level bars

.stat-row {
  border: 1px solid #e9ecef;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  background: white;

  &:hover {
    border: 1px solid var(--warning);
    background: floralwhite;
  }

  &:active {
    border: 1px solid var(--info);
    background: #c6ecde;
  }
}

.lock {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  background: whitesmoke;
}

// Stats that are locked by default
#leg-bar, #arm-bar, #hair-bar, #dog-bar {
  visibility: hidden;
}

// stat levellup animation
@keyframes lvlup {
  0% {
    color: gold;
    font-weight: bold;
    font-size: 1.5em;
  }
  100% {

  }
}

.lvlup {
  animation: lvlup 0.5s 0s infinite alternate;
}

.statlvl {
  white-space: pre-wrap;
  width: 3em;
  text-align: center;
}

.statstars {
  line-height: 1;
  text-align: center;
  color: #17a2b8;
}
