-
    var types = [
        'Earth',
        'Water',
        'Fire',
        'Air',
    ]

mixin typePick(type)
    label
        input.elementRadio(name='typeChooser' type='radio' value=`${type.toLowerCase()}`)
        .elementPickFrame.card.m-1.p-1.pt-2
            img(src=`img/${type.toLowerCase()}-ex.png`, alt=`${type}`).elementEx
            h4.mx-auto #{type}


#char-creator
    include ../../components/emoji
    .row.text-center
        h1.mx-auto Create your new Friendo:
    .row
        .mx-auto.text-center#type-picker
            each type in types
                +typePick(type)
    .row.d-flex.justify-content-center.align-items-center
            .form-group.mr-1
                label(for="name-input") Name your new Friendo:
                .d-flex
                    button.btn.btn-light.mr-1.flex-shrink-1#btn-rand-name(disabled)
                        +emoji('1f3b2')(alt="Generate a random name")
                    input.form-control.d-inline-block#name-input(type='text' disabled)
            .form-group.mr-1
                label(for="player-input") What is your name?
                input.form-control#player-input(type='text' disabled)
            button.btn.btn-primary#btnCreate(type='button' disabled) Create
