doctype html
html(lang='en')
    head
        title Friendo
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width')
        link(rel='stylesheet' href='styles.css')
        link(rel='manifest' href='/friendo.webmanifest')
        script(defer src='bundle.js')

        //- Icons based on https://www.emergeinteractive.com/insights/detail/The-Essentials-of-FavIcons/
        //- Generic
        link(rel="icon" href="/favicon.ico")
        link(rel="icon" sizes="32x32" href="img/icons/favicon-32.png")
        link(rel="icon" sizes="57x57" href="img/icons/favicon-57.png")
        link(rel="icon" sizes="76x76" href="img/icons/favicon-76.png")
        link(rel="icon" sizes="96x96" href="img/icons/favicon-96.png")
        link(rel="icon" sizes="128x128" href="img/icons/favicon-128.png")
        link(rel="icon" sizes="192x192" href="img/icons/favicon-192.png")
        link(rel="icon" sizes="228x228" href="img/icons/favicon-228.png")
        link(rel="icon" sizes="512x512" href="img/icons/favicon-512.png")
        //- chrome for Android
        link(rel="shortcut icon" sizes="196x196" href="img/icons/favicon-196.png")
        //- iOS
        link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/icons/favicon-120.png")
        link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/icons/favicon-152.png")
        link(rel="apple-touch-icon-precomposed" sizes="180x180" href="/img/icons/favicon-180.png")
        //- Win8/IE 10
        meta(name="msapplication-TileColor" content="#FFFFFF")
        meta(name="msapplication-TileImage" content="/img/icons/favicon-144.png")
        //- Win8/IE 11
        meta(name="msapplication-config" content="/browserconfig.xml")

    include ../../components/header
    body
        .container
            include ../../components/noscript
            include loading
            include ./char-create
            include main

