doctype html
html(lang='en')
    head
        //- encoding and viewport come first 
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width')

        //- Title and description
        title Friendo
        meta(name="application-name" content="Friendo: A Digital Buddy")
        meta(name='description' content="Make a new pal. Help them grow big and strong. Fill their room with dogs.")

        //- Functional stuff
        link(rel='stylesheet' href='styles.css')
        link(rel='manifest' href='/friendo.webmanifest')
        script(defer src='bundle.js')

        //- Icons based on https://www.emergeinteractive.com/insights/detail/The-Essentials-of-FavIcons/
        //- Generic
        link(rel="icon" href="/favicon.ico")
        link(rel="icon" sizes="32x32" href="img/icons/favicon-32.png")
        link(rel="icon" sizes="57x57" href="img/icons/favicon-57.png")
        link(rel="icon" sizes="76x76" href="img/icons/favicon-76.png")
        link(rel="icon" sizes="96x96" href="img/icons/favicon-96.png")
        link(rel="icon" sizes="128x128" href="img/icons/favicon-128.png")
        link(rel="icon" sizes="192x192" href="img/icons/favicon-192.png")
        link(rel="icon" sizes="228x228" href="img/icons/favicon-228.png")
        link(rel="icon" sizes="512x512" href="img/icons/favicon-512.png")
        //- chrome for Android
        link(rel="shortcut icon" sizes="196x196" href="img/icons/favicon-196.png")
        //- iOS
        link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/icons/favicon-120.png")
        link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/icons/favicon-152.png")
        link(rel="apple-touch-icon-precomposed" sizes="180x180" href="/img/icons/favicon-180.png")
        //- Win8/IE 10
        meta(name="msapplication-TileColor" content="#FFFFFF")
        meta(name="msapplication-TileImage" content="/img/icons/favicon-144.png")
        //- Win8/IE 11
        meta(name="msapplication-config" content="/browserconfig.xml")

        //- theme color
        meta(name="theme-color" content="#FFFFFF")

        //- Open graph metadata
        meta(property="og:title" content="Friendo: A Digital Buddy")
        meta(property="og:type" content="website")
        meta(property="og:image" content="https://friendo.mattdelsordo.com/img/screenshots/character-creator.jpg")
        meta(property="og:image:alt" content="A water-type Friendo training its sight by reading a book.")
        meta(property="og:description" content="Make a new pal. Help them grow big and strong. Fill their room with dogs.")
        meta(property="og:site_name" content="Friendo")
        meta(property="og:url" content="https://friendo.mattdelsordo.com")

        //- Twitter card metadata
        meta(name="twitter:card" content="summary_large_image")

    include ../../components/header
    body
        .container
            include ../../components/noscript
            include loading
            include ./char-create
            include main

