#main-display
    .row.justify-content-center.mb-3
        .col-auto
            include ../../components/canvas
            #energy-zone.mt-2
                include ../../components/energy
                include ../../components/interact
        .col-lg-5
            include ../../components/id-bar
            include ../../components/status-bar
            .row.border.mb-1.mt-2
                //- Again for spacing
            include ../../components/stat-display
