.row
    .col
        .d-flex.flex-row.align-items-center
            include emoji
            h6.d-inline
                +emoji('26a1')(style="vertical-align: -0.5em;")
            .progress.ml-auto(style='width:95%;')
                .progress-bar.bg-warning#energybar
