
mixin attribution-dialog
    .modal.fade(id='attributions' role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Attributions
                .modal-body
                    ul
                        li
                            | Emoji from
                            |
                            a(href="https://github.com/twitter/twemoji") twemoji
                            |
                            | by
                            |
                            a(href="https://github.com/twitter") Twitter
                            |
                            | are licensed under
                            |
                            a(href="https://creativecommons.org/licenses/by/4.0/") CC BY 4.0
                .modal-footer
                    button.btn.btn-secondary(data-dismiss='modal') Nice

include emoji
+attribution-dialog()
footer#footer
    .container.text-muted.align-middle
        .d-flex
            // not an emoji - just unicode
            span#game-info-icon #{'\u{1f6c8}'}
            span.ml-3.w-100.d-flex#game-info
                a#vernum(href="https://github.com/mattdelsordo/friendo/releases" target="_blank") [ v0.0.0 ]
                a.ml-4(href="https://github.com/mattdelsordo/friendo")
                    | [
                    +emoji('1f3b2')(class="mr-1 ml-1")
                    | A game by Matt DelSordo ]
                a.ml-4(href="https://github.com/mattdelsordo/friendo/issues" aria-label="Issue mattdelsordo/friendo on GitHub")
                    | [
                    +emoji('1f41b')(class="mr-1 ml-1")
                    | Report a bug ]
                a.ml-4(href="" data-toggle="modal" data-target="#attributions")
                    | [
                    +emoji('1f4dc')(class="mr-1 ml-1")
                    | Attributions ]
