// Structure of the header

mixin header-btn(txt, emo)
    a.ml-3.header-btn&attributes(attributes)
        | [
        |
        +emoji(emo)
        span #{txt}
        |
        | ]

mixin attribution-dialog
    .modal.fade(id='attributions' role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Attributions
                .modal-body
                    ul
                        li Game by Matt DelSordo
                        li
                            | Emoji from
                            |
                            a(href="https://github.com/twitter/twemoji" target="_blank") twemoji
                            |
                            | by
                            |
                            a(href="https://github.com/twitter" target="_blank") Twitter
                            |
                            | are licensed under
                            |
                            a(href="https://creativecommons.org/licenses/by/4.0/" target="_blank") CC BY 4.0
                .modal-footer
                    button.btn.btn-secondary(data-dismiss='modal') Nice

include emoji
+attribution-dialog()
header#header
    .container.text-muted.align-middle.h-100
        .d-flex.h-100
            a(href="https://github.com/mattdelsordo/friendo" target="_blank" style="flex-shrink: 0;")
                img#favicon(src="favicon.png")
                span.ml-1#title Friendo
            // not an emoji - just unicode
            span.ml-4#game-info-icon #{'\u{1f6c8}'}
            span.ml-2.w-100.d-flex#game-info
                a#vernum(href="https://github.com/mattdelsordo/friendo/releases" target="_blank") [ v0.0.0 ]
                +header-btn('Report a bug', '1f41b')(href="https://github.com/mattdelsordo/friendo/issues" target="_blank")
                +header-btn('Attributions', '1f4dc')(href="" data-toggle="modal" data-target="#attributions")
