// Structure of the header

// format of header links
mixin header-btn(txt, emo)
    a.ml-2.header-btn&attributes(attributes)
        | [
        +emoji(emo)
        span #{txt}
        | ]

// dialog that displays attributions
mixin attribution-dialog
    .modal.fade(id='attributions' role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Attributions
                .modal-body
                    ul
                        li Game by Matt DelSordo
                        li
                            | Emoji from
                            |
                            a(href="https://github.com/twitter/twemoji" target="_blank") twemoji
                            |
                            | by
                            |
                            a(href="https://github.com/twitter" target="_blank") Twitter
                            |
                            | are licensed under
                            |
                            a(href="https://creativecommons.org/licenses/by/4.0/" target="_blank") CC BY 4.0
                .modal-footer
                    button.btn.btn-secondary(data-dismiss='modal') Nice

// UI segment for friendo deletion
mixin delete()
    #delete-zone
        .card.card-body
            h5 ARE YOU SURE ABOUT THIS ONE BUD
            p This will banish your Friendo's pattern from the time stream.
            .form-group.form-check
                label.form-check-label(for="delete-check1" data-toggle="collapse" data-target="#reallydoit")
                    input.form-check-input#delete-check1(type="checkbox")
                    | I understand.
            #reallydoit.collapse
                .form-group.form-check
                    label.form-check-label(for="delete-check2" data-toggle="collapse" data-target="#imserious")
                        input.form-check-input#delete-check2(type="checkbox")
                        | Do it.
            #imserious.collapse
                button.btn.btn-danger#delete-btn
                    +emoji('2620')(style="margin-right: 1em;")
                    | Begone
                    +emoji('2620')(style="margin-left: 1em;")

mixin download()
    #download-zone
        .card.card-body
            p
                | The game will save automatically, but it never hurts to keep a backup!
                |
                i If you clear your cookies, your Friendo's DNA will probably be deleted.
            button.btn.btn-primary.mt-1#backup-btn Download

mixin upload()
    #upload-zone
        .card.card-body
            p
                | Restore a Friendo from a backed-up DNA file.
                |
                i This will overwrite your current Friendo.
            .input-group.mt-1
                .input-group-prepend
                    button.btn.input-group-text#uploadDNA Restore
                .custom-file
                    input.custom-file-input#selectDNA(type="file")
                    label.custom-file-label#selectDNAlabel(for="selectDNA") Choose file


mixin settings-dialog
    .modal.fade(id='settings-dialog' role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Settings
                .modal-body
                    h6
                        +emoji('1f4be')
                        |
                        | DNA Management
                    // TODO: do this instead https://getbootstrap.com/docs/4.0/components/navs/#javascript-behavior
                    ul.nav.nav-pills#dna-pills(role="tablist")
                        li.nav-item
                            a.nav-link#backup-pill-tab(data-toggle="pill" href="#backup-pill" role="tab")
                                +emoji('1f4e5')
                                |
                                | Backup
                        li.nav-item
                            a.nav-link#restore-pill-tab(data-toggle="pill" href="#restore-pill" role="tab")
                                +emoji('1f4e4')
                                |
                                | Restore
                        li.nav-item
                            a.nav-link#delete-pill-tab(data-toggle="pill" href="#delete-pill" role="tab")
                                +emoji('1f5d1')
                                |
                                | Delete
                    .tab-content.mt-1#dna-pill-content
                        .tab-pane.fade#backup-pill(role="tabpanel")
                            +download()
                        .tab-pane.fade#restore-pill(role="tabpanel")
                            +upload()
                        .tab-pane.fade#delete-pill(role="tabpanel")
                            +delete()
                .modal-footer
                    button.btn.btn-secondary(data-dismiss='modal') Close

// set of modals the header controls have to be set before the header
mixin modals
    +attribution-dialog()
    +settings-dialog()

include emoji
+modals()
header#header
    .container.text-muted.align-middle.h-100
        .d-flex.h-100
            a(href="https://github.com/mattdelsordo/friendo" target="_blank" style="flex-shrink: 0;")
                img#favicon(src="/img/icons/favicon-192.png")
                span.ml-1#title Friendo
            // not an emoji - just unicode
            +emoji('1f516')(class='ml-4' id='game-info-icon')
            span.ml-2.w-100.d-flex#game-info
                a#version-link(href="https://github.com/mattdelsordo/friendo/releases" target="_blank")
                    span#vernum [v0.0.0]
                +header-btn('Report a bug', '1f41b')(href="https://github.com/mattdelsordo/friendo/issues" target="_blank")
                +header-btn('Attributions', '1f4dc')(href="" data-toggle="modal" data-target="#attributions")
            button.btn.btn-outline-info.mr-1.p-1#btn-a2hs
                +emoji('1f4f2')
            a#settings(href="" data-toggle="modal" data-target="#settings-dialog")
                +emoji('2699')
