.row
    .col
        include emoji
        h3.d-inline-block#name-display Friendo
        h6.d-inline-block lvl.
            span#level-display 0
        h4.d-inline-block.pl-5.pr-1
            +emoji('2754')(id="zodiac-display", alt="Astrological sign")
