noscript
    pre
        code(style="line-height: 100%; display: block; overflow: hidden;")
            |                           .:`  -:  `:-
            |                            ./- /+ ./-
            |                             `:/+o::`
            |             :/::::::::::::::::+yyo::::::::::::::::::`
            |             o/....................................-o.
            |             o-                                    .o.
            |             o-                                    .o.        Sorry! You need to enable scripts to play!
            |             o-                                    .o.           I promise not to steal your data &lt;3
            |             o-                ````                .o.    (if your browser doesn't support scripts, sorry )
            |             o-              `-//+/:.              .o.
            |             o-             `o-sddy:o`             .o.
            |            .y-             .o-mMMm:o-             .s:
            |          ./+s-              ://oo//:              .s++-`
            |        .++-`o-               `-::-`               .o../+-
            |      ./+.  `s-                .:                  .s.  .++-
            |    ./+-  `-oy-                -o`                 .ys:`  .++.
            |  ./+-   -+/.o-                :s..`               .o./+:`  .++.
            | `y/`  -+/`  o-                .:::`               .o. `:o:` `:y.
            |  ./+:+/`    o-              :///////              .o.   `/o:++.
            |    .:`      o-              ````````              .o.     `:.
            |             o-                                    .o.
            |             o-                                    .o.
            |             o:                                    .o.
            |             /+/////so//os//////////////so//+s+//////`
            |                   `o:  -o`             o/  .o.
            |                   `o-  -o`             o:  .o.
            |                   `o-  -o`             o:  .o.
            |                   `o-  -o`             o:  .o.
            |                   `o-  -o`             o:  .o.
            |              `/:::/o.  -o`             o:  .o/:::/.
            |              -o.````   -o`             o:   `....o/
            |              -o:-------/+`             ++--------o:
            |               ..........`              `..........`
