.row
    .col
        include emoji
        .d-flex.flex-row.align-items-baseline
            h6.d-inline.pr-1.mb-0 Status:
            h5.d-inline.mb-0#status-display J chillin'
            h5.d-inline.mb-0.mr-0.ml-auto.align-self-center#exercise-timer 00:00:00
            +emoji('274c')(id="cancel-exercise", alt="Cancel exercise").ml-2.align-self-center
