-
    var types = [
        'Earth',
        'Water',
        'Fire',
        'Air',
    ]

mixin typePick(type)
    label
        input.elementRadio(name='typeChooser' type='radio' value=`${type.toLowerCase()}`)
        .elementPickFrame.card.m-1.p-1.pt-2
            img(src=`img/${type.toLowerCase()}-ex.png`).elementEx
            h4.mx-auto #{type}


#char-creator
    .row.text-center
        h1.mx-auto Create your new Friendo:
    .row
        .mx-auto.text-center#type-picker
            each type in types
                +typePick(type)
    .row
        .mx-auto.text-center
            input.mr-1.mb-2#name-input(type='text' placeholder='Name your Friendo:' disabled)
            input.mr-1#player-input(type='text' placeholder='What is your name?' disabled)
            button.btn.btn-primary#btnCreate(type='button' disabled) Create
