mixin nameInput(friendoName, ownerName)
    div
        .input-group.p-1
            .input-group-prepend
                span.input-group-text Friendo name
            input#friendo-name.form-control(type='text' placeholder=friendoName)
        .input-group.p-1
            .input-group-prepend
                span.input-group-text Parent name
            input#owner-name.form-control.w-50(type='text' placeholder=ownerName)
