// Can't split these into mixins because they're styled differently

#type-picker.border.m-1.align-middle
    .p-1
        h6 Element:
        .btn-group.btn-group-toggle(data-toggle='buttons')
            label.btn.btn-warning.active(for='pick-type-earth')
                input#pick-type-earth(type='radio' name='type-radios' autocomplete='off' value='earth')
                | Earth
            label.btn.btn-primary(for='pick-type-water')
                input#pick-type-water(type='radio' name='type-radios' autocomplete='off' value='water')
                | Water
            label.btn.btn-danger(for='pick-type-fire')
                input#pick-type-fire(type='radio' name='type-radios' autocomplete='off' value='fire')
                | Fire
            label.btn.btn-info(for='pick-type-air')
                input#pick-type-air(type='radio' name='type-radios' autocomplete='off' value='air')
                | Air
