// Custom scss goes here
// imported modules along with misc styling

@import "components/loader";
@import "components/header";
@import "components/char-creator";
@import "components/stat-bar";
@import "components/id-bar";

// Displays that are invisible by default
#egg-display, #char-creator, #main-display {
  display: none;
}

// Emoji
img.emoji {
  height: 1.2em;
  width: 1.2em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
